.select2-selection__choice__display {
    background-color: #1b2d1f!important;
}
.select2-selection__choice__remove {
    background-color: red!important;
}
.image_detail_product, .feature_image {
    width: 100%;
    height: 130zpx;
    object-fit: cover;
}

.alert-danger {
    padding: 3px 5px;
}
