

.select2-container--default .select2-selection--multiple .select2-selection__choice__display {
    cursor: default;
    padding-left: 15px;
}
.select2-selection__choice{
    background-color: #0c525d!important;
}



.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: red !important;
    float: right;
    margin-left: 5px;
    margin-right: -2px;
}
